.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-light .navbar-brand {
    color: dodgerblue !important;
}

a,
a:focus,
a:hover {
  color: #fff;
}

.btn-outline-secondary {
    margin-left: 10px;
}