.transactions{
    display: inline-block;
    padding: 4px;
    margin: 4px;
}

.sort-icon-nonessential{
    color: red;
}

.sort-icon-essential{
    color: dodgerblue;
}

.essential{
    color: dodgerblue;
    font-weight: bold;
}

.non-essential{
    color: red;
    font-weight: bold;
}

.dropdown-toggle{
    display: inline;
    color: #666;
    text-align: right; 
}

.dollar-in-text{
    color: #666; 
    margin: 5px;
}

.change-category{
    color: #666;
}