{% extends "base.html" %}
{% block title %} - Add Institution{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<i><small>Do not user your browser's back button from this page, or you'll unleash the fire-breathing dragon.</small></i>
    <h1>Find your bank:</h1>
    <form action="/showinstitutions" method=GET>
        <select name='bank_choice'>
          <option value="wells fargo">Wells Fargo</option>
          <option value="bank of america">Bank of America</option>
          <option value="finbank">FinBank</option>
          <option value="Other">Other</option>
        </select>
        <br><br><input type="submit">
  </div>
  {% endblock %}