<!DOCTYPE html>
<html>
  <title>essentially.{% block title %}{% endblock %}</title>
  <head>
    {% block head %}{% endblock %}

    <!-- Bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- jQuery link -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
    <!-- my CSS -->
    <link rel="stylesheet" href="static/essentially.css">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      <br><br>
<!--       <hr>
      &copy; Copyright 2018 (but not really) by <a href="https://www.linkedin.com/in/meganahoffman/">Megan</a>.
      {% endblock %} -->
    </div>
  </body>
</html>