{% extends "base.html" %}
{% block title %} - Create Account{% endblock %}
{% block head %}
<link rel='stylesheet' href="static/createacct.css">
{% endblock %}
{% block content %}
<div class="col-sm-8 offset-sm-2 text-center text-secondary">
    <br><img class="col-sm-2" src="/static/essentially_transparent.png">
    <br>
    <h2>Sign up!</h2>
<!--     Use this to create an account for essentially and Finicity at the same time -->
<form action="/createaccount" method=POST>
  <br><div class="form-row">
    <div class="col">
      <input type="text" class="form-control" name="fname" placeholder="First name" value={{fname}}>
    </div>
    <div class="col">
      <input type="text" class="form-control" name="lname" placeholder="Last name" value={{lname}}>
    </div>
  </div><br>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email" value={{email}}> <small id="emailHelp" class="form-text text-muted text-left">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputPhone" name="username" placeholder="Username" value={{username}}> <small id="usernameHelp" class="form-text text-muted text-left">Must be at least 8 characters. Not case-sensitive.</small> 
  </div>
  <div class="form-row">
    <div class="col">
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password"> <small id="passwordHelp" class="form-text text-muted text-left">Must include at least 1 letter, 1 digit, and 1 special character: @$!%*#?&.</small>
    </div>
    <div class="col">
      <input type="password" class="form-control" id="exampleInputPassword1" name="confirm" placeholder="Please enter your password again">
    </div> 
  </div><br>
  <div class="form-group">
    <input type="tel" class="form-control" id="exampleInputPhone" name="phone" placeholder="Enter phone" value={{phone}}> 
  </div><br>
  <button type="submit" class="btn btn-light text-secondary">Submit</button>
</form>
</div>
{% endblock %}