{% extends "base.html" %}
{% block title %} - Create Account{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h2>Sign up!</h2>
<!--     Use this to create an account for essentially and Finicity at the same time -->
    <form action="/createaccount" method=POST>
        First Name: <input type="text" name="username"><br>
        Last Name: <input type="text" name="lname"><br>
        Username: <input type="text" name="password"><br>
        Password: <input type="password" name="fname"><br>
        Confirm Password: <input type="password" name="confirm"><br>
        Phone Number: <input type="tel" name="phone"><br>
        Email: <input type="email" name="email"><br>
        <input type="submit" value="Show me the money!">
    </form>
{% endblock %}