{% extends "base.html" %}
{% block title %} - Forgot Password {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    This page isn't available yet. So, if you actually did forget your password...that sucks.
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #666;">
    <a class="navbar-brand" href="/essentialvisual">essentially.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/showunsortedtransactions">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/showunsortedtransactions">Categorize</a>
      <a class="nav-item nav-link" href="/showsortedtransactions">Organize</a>
      <a class="nav-item nav-link" href="/essentialvisual">Visualize</a>
    </div>
    <button class="btn btn-outline-secondary navbar-btn logout-button" onClick="location.href='/logout'">Log Out</button>
    </div>
    </nav>
    </nav>
{% endblock %}