{% extends "base.html" %}
{% block head %}
{% block title %} {{ super() }} {% endblock %}
{% endblock %}
{% block content %}
    <h1>Welcome!</h1>
    <img class = "logo" src="/static/e.jpg" height="50" width="50"><br>
    <button id = new-acct type="button">Create New Account</button>
    <button id = have-acct type="button">I already have an account!</button><br><br>
    <button id = forgot-password type="button">Forgot Password</button>
    <script>
        document.getElementById("new-acct").onclick = function () {
        location.href = "http://localhost:5000/createaccountform";
        };

        document.getElementById("have-acct").onclick = function () {
        location.href = "http://localhost:5000/loginform";
        };

        document.getElementById("forgot-password").onclick = function () {
        location.href = "http://localhost:5000/forgotpassword";
        };
    </script>
{% endblock %}

