{% extends "base.html" %}
{% block title %} - Login {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="sign-in-form">
    <form class="form-signin text-center" action="/login" method=POST>
      <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-block login-button" type="submit">Sign in</button><br>
      <a href="http://localhost:5000/forgotpassword" color="dodgerblue">Forgot Password</a><br>
      <a href="http://localhost:5000/createaccountform" color="dodgerblue">Create An Account</a>
      <p class="mt-5 mb-3 text-muted">Powered by Finicity&copy;.</p>
    </form>
    </div>
{% endblock %}