{% extends "base.html" %}
{% block title %} - Permission to Check Accounts  {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h2>Add Accounts</h2>
    <form action="/showaccounts" method=GET>
        Do you give us permission to collect your account information from the institution you selected?<br>
        <input type="radio" name="permission" value="yes">Yes!<tab>
        <input type="radio" name="permission" value="no">Nope.
        <input type="submit" value="Continue">
<!-- Add alert: Great! Check back once you have some transactions to sort. -->
    </form>
{% endblock %}
