{% extends "base.html" %}
{% block title %} - Login {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <form action="/institutionloginform" method=GET>
    {% for banks in bank_choices['institutions'] %}
        {% if loop.index0 < num_banks %}
        <input type="radio" name="select_bank" value="{{ bank_choices['institutions'][loop.index0]['id'] }}">
        {{ bank_choices['institutions'][loop.index0]['name'] }}:
        {{ bank_choices['institutions'][loop.index0]['accountTypeDescription'] }}
        <br>
        {% endif %}
        <br>
    {% endfor %}
    <input type="submit" value="Select Bank">
    </form>
{% endblock %}