{% extends "base.html" %}
{% block title %} - Sorted Transactions {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h2>Sorted Transactions</h2>
    {% for transaction in transactions %}
        <div class="transactions">
        <strong>{{ "$%.2f"|format(transaction.amount|float) }}</strong> on
        {{ transaction.transaction_date }} at
        {{ transaction.fin_description }}: 
        {% if transaction.category[0].category_choice == True %}
            <font color="dodgerblue"><strong>Essential</strong></font>
            {% else %}
            <font color="red"><strong>Non-Essential</strong></font>
        {% endif %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}